<form method="POST">
    <p>Введите название:</p>
    <input type="text" name="name">
    <p>Введите модель:</p>
    <input type="text" name="model">
    <p>Введите год выпуска:</p>
    <input type="text" name="year">
    <input type="submit">
</form>