<form method="POST">
    <p>Укажите название:</p>
    <input type="text" name="name">
    <p>Укажите стоимость (BYN)</p>
    <input type="text" name="cost">
    <p>Укажите, для какого ремонта эта запчасть (номер ремонта):</p>
    <select name="repairs_id">
        {{{repairs}}}
    </select>
    <input type="submit">
</form>