<form method="POST">
    <p>Введите ФИО:</p>
    <input type="text" name="name">
    <p>Введите возраст:</p>
    <input type="text" name="age">
    <p>Введите пол:</p>
    <input type="text" name="sex">
    <p>Введите должность:</p>
    <input type="text" name="position">
    <p>Укажите подразделение</p>
    <select name="subdivision_id">
        {{{subdivisions}}}
    </select>
    <input type="submit">
</form>