<a href="{{{link}}}">Добавить сотрудника</a><br/>
<form method="GET" action="/subdivisions/employees">
    <span>Пол:</span>
    <select name="sex">
        <option value="">Выберите пол</option>
        <option value="male">Мужской</option>
        <option value="female">Женский</option>
    </select>
    <span>Возраст:</span>
    <input name="age" type="number">
    <input type="submit" value="Применить">
</form>
{{{table}}}