<form method="POST">
    <p>Введите название:</p>
    <input type="text" name="name" value="{{{name}}}">
    <p>Введите модель:</p>
    <input type="text" name="model" value="{{{model}}}">
    <p>Введите год выпуска:</p>
    <input type="text" name="year" value="{{{year}}}">
    <p>Укажите подразделение</p>
    <select name="subdivision_id">
        {{{subdivisions}}}
    </select>
    <input type="submit">
</form>