<form method="GET" action="{{{link_query}}}">
    <span>Наименование:</span>
    <select name="name">
        {{{technics}}}
    </select>
    <input type="submit" value="Применить">
</form>
{{{result}}}