<a href="{{{link}}}/technics">Техника</a></br>
<a href="{{{link}}}/decom">Списанная техника</a></br>
<a href="{{{link}}}/employees">Сотрудники</a></br>
<a href="{{{link}}}/num">Расчёт количества техники</a>
